


.check-form-lebel{
   color: #999999;
  font-family: Poppins;
  font-size: 16px ;
  line-height: 36px;
  line-height: 106%;
  letter-spacing: 0.5px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
}
.check-box{
    width: 30px;
    margin: 0px;
    padding:0px;
    margin-right: 10px;

}

